extends layouts/base

block content
  h1 Connexion

  if (error)
    p.error #{error.message}

  form(action='/login' method='POST')
    p
      label(for='email' )
        | Email
        input#email(type='email', name='email', required)
    p
      label(for='password')
        | Mot de passe
        input#password(type='password', name='password', required)
    input(type='submit', value='Connexion')
